include ../title/title
include ../calendar-field/calendar-field
include ../dropdown/dropdown
include ../btn-with-arrow/btn-with-arrow


mixin card-order(options)

    - let currencyIcon = '&#8381';
    - let typeRoom = ''
    - let serviceChargeDiscount = ' '
    - let price = ''
    - let startDate = false
    - let endDate = false


    if options
        if options.currency
            -
                switch(options.currency.toLowerCase()){
                    case 'rub':
                        currencyIcon = '&#8381';
                        break;
                    case 'usd':
                        currencyIcon = '&#36';
                        break;
                    default: 
                        break;
                }
        if options.typeRoom
            - typeRoom = options.typeRoom
        if options.serviceChargeDiscount
            - serviceChargeDiscount += Number(options.serviceChargeDiscount).toLocaleString()
        if options.price
            - price = Number(options.price).toLocaleString();
        if options.startDate
            - startDate = options.startDate
        if options.endDate
            - endDate = options.endDate




    form(action="", method="get", name="card-order").card-order
        .card-order__header
            h1.card-order__title
                span.card-order__title-number-symbol &#8470 
                span.card-order__title-number= options.number
                span.card-order__title-type= typeRoom
            .card-order__room-price
                span.card-order__room-price-wrp
                    span.card-order__room-price-price= price
                    span!= currencyIcon
                |  в сутки

        .card-order__date-dropdown-fields-block
            .card-order__date-dropdown-wrp
                .card-order__name-field.card-order__date-dropdown-title
                    +title({type: 'small', text: 'прибытие'})
                .card-order__date-dropdown.card-order__date-dropdown-arrival
                    +calendar-field({name: 'прибытие', value: startDate, widthElem: 'card-order__date-dropdown-fields-block'})
            .card-order__date-dropdown-wrp 
                .card-order__name-field.card-order__date-dropdown-title
                    +title({type: 'small', text: 'выезд'})
                .card-order__date-dropdown.card-order__date-dropdown-departure
                    +calendar-field({name: 'выезд', value: endDate, widthElem: 'card-order__date-dropdown-fields-block'})
        .card-order__dropdown-block
            .card-order__name-field
                +title({type: 'small', text: 'гости'})
            .card-order__dropdown
                +dropdown({dropdownType: 'guests', dataValues: [{name: "взрослые", value: 2},{name:"дети", value: 1}]})


        .card-order__list
            .card-order__list-item.card-order__list-item-row-name
                .card-order__list-item-row-name-wrp
                    span.card-order__list-item-price-per-day= price 
                    span!= currencyIcon   
                    |  x 
                    span.card-order__list-item-sum-day 4
                    = ' '
                    |суток  
            .card-order__list-item.card-order__list-item-info
                .card-order__list-item-info-icon.card-order__list-item-info-icon_no-info i
            .card-order__list-item.card-order__list-item-row-total-prise
                span.card-order__list-item-price-for-all-days 0
                span!= currencyIcon

            .card-order__list-item.card-order__list-item-row-name
                .card-order__list-item-row-name-wrp
                    span.card-order__list-item-service-charge  Сбор за услуги: скидка
                    span.card-order__list-item-service-charge-discount= serviceChargeDiscount
                    span!= currencyIcon
            .card-order__list-item.card-order__list-item-info
                .card-order__list-item-info-icon i
                .card-order__list-item-info-block информация
            .card-order__list-item.card-order__list-item-row-total-prise 0
                span!= currencyIcon

            .card-order__list-item.card-order__list-item-row-name
                .card-order__list-item-row-name-wrp Сбор за дополнительные услуги
            .card-order__list-item.card-order__list-item-info
                .card-order__list-item-info-icon i
                .card-order__list-item-info-block информация
            .card-order__list-item.card-order__list-item-row-total-prise
                span.card-order__list-item-additional-service-fee 300
                span!= currencyIcon
        
        .card-order__total-price-block.title.title_middle
            .card-order__total-price-title Итого
            .card-order__total-price-line
            .card-order__total-price-wrp
                span.card-order__total-price 38 081
                span!= currencyIcon


        .card-order__btn-with-arrow
            +btn-with-arrow({text: 'забронировать'})